/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared styles */
*{  
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    width: 98%;
    color: #FFF;
}

.element{
    background-color: #000000;
}

header, #banner-bg {
    max-height: 140vh;
    background: linear-gradient(to bottom, rgb(119, 119, 119, 0), rgb(17, 17, 17, 1), rgb(119, 119, 119, 0));
}

.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons{
    width: 400px;
    translate: -104px 0;
}

.btn-primary{
    max-width: 180px;
    width: 100%;
    font-size: 1.125rem;
    color: #fff;
    background-color: #E6533C;
    border: 1px solid rgb(255, 255, 255, .5);
    border-radius: 46px;
    padding: 8px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover{
    background-color: #d44a2f;
    border-color: rgba(255, 255, 255, 1);
}

#btn{
    background-color:transparent;
}

#btn:hover{
    background-color: rgb(119, 119, 119, 0.1);
    border-color: rgba(255, 255, 255, 1);
}

.section-header{
    max-width: 671px;
    width: 100%;
}

.section-title{
    font-size: 3rem;
    font-weight:900;
}

.section-detail{
    font-size: 0.875rem;
    font-weight:400;
}

/* color */
.white{
    color: #FFFFFF;
}

.white-opacity10{
    color: rgb(255, 255, 255, .1);
}

.white-opacity50{
    color: rgb(255, 255, 255, .5);
}

.dark-gray{
    background-color: #222222;
}

.cinnabar{
    color: #E6533C;
}


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background-color: transparent;
}

.logo{
    font-size: 2.25rem;
    font-weight:800;
    font-style: italic;
}

.nav-ul{
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 350px;
    padding: 10px 10px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

#nav-icon{
    width: 24px;
    display: none;
}


/* banner styles */
.banner{
    margin-top: 96px;
}
.banner-description{
    max-width: 599px;
    width: 95%;
    translate: 0 -110px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}

#shape-word{
    font-family:'Miama', sans-serif;
}

.banner-text{
    margin:28px 0;
    font-size: 1rem;
}
.buttons{
    gap: 10px;
}

.btn-small-device{
    display: none;
}

.banner-img{
    max-width: 320px;
    width: 100%;
}

.banner-hero{
    max-width: 349px;
    width: 100%;
}

.banner-card-text{
    font-size: 0.8125rem;
    
}

.banner-card-1{
    width: 125px;
    font-size: 0.8125rem;
    translate: 160px -450px;
    padding: 17px 30px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.1);
}

.banner-card-1-heading{
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-card-2{
    max-width: 150px;
    width: 40%;
    font-size: 0.8125rem;
    translate: -160px -240px;
    padding: 17px 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#circle{
    height: 30px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}



/* change your habit styles */
.change-habit .section-header{
    text-align: center;
}
.change-habit-cards{
    gap: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.change-habit-card-img{
    max-width: 272px;
    width: 100%;
    border: 3px solid #222222;;
    border-radius: 50%;
    margin: 50px auto 30px;
}
.change-habit-card-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.change-habit-card-detail{
    font-size: 0.875rem;
    font-weight: 400;
}




/* Responsive for small devices */
@media screen and (max-width:576px) {

    /* shared styles */
    *{
        width: 98%;
    }
    header, #banner-bg{
        max-height: 167vh;
    }
    .section-title{
        font-size: 2.25rem;
    }
    .section-detail {
        font-size: 0.875rem;
    }

    /* nav item styles */
    .nav-ul{
        display: none;
    }

    #nav-icon{
        display: block;
    }

    /* banner item styles */
    .banner{
        flex-direction: column;
    }
    .buttons{
        max-width: 240px;
        width: 100%;
        translate: -42px 0;
    }
    .btn-primary{
        width: 150px;
        width: 80%;
        font-size: 0.75rem;
        padding: 8px 10px;
    }
    .btn-small-device{
        display: block;
        font-size: 0.75rem;
        max-width: 150px;
        width: 80%;
        padding: 8px 10px;
    }
    .banner-description{
        translate: 0 -50px;
    }
    .banner-title{
        font-size: 2.75rem;
    }
    .btn-large-device{
        display: none;
    }
    
    .banner-card-1-heading{
        font-size: 1.5rem;
    }
    .banner-card-1{
        width: 40%;
        padding: 10px 10px;
        translate: 90px -430px;
    }
    .banner-card-text{
        font-size: 0.70rem;
    }
    .banner-card-2{
        translate: -90px -280px;
        width: 40%;
        padding: 10px 10px;
        gap: 5px;
    }
    #circle{
        height: 20px;
        width: 25px;
        border-radius: 100%;
    }

    /* change your habit section styles*/
    .change-habit-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .change-habit-card-img{
        width: 70%;
    }
}