/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared styles */
*{  
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    width: 98%;
    color: #FFF;
}

.element{
    background-color: #000000;
}

header, #banner-bg {
    max-height: 140vh;
    background: linear-gradient(to bottom, rgb(119, 119, 119, 0), rgb(17, 17, 17, 1), rgb(119, 119, 119, 0));
}

.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons{
    width: 400px;
    translate: -104px 0;
}

.btn-primary{
    max-width: 180px;
    width: 100%;
    font-size: 1.125rem;
    color: #fff;
    background-color: #E6533C;
    border-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover{
    background-color: #d44a2f;
    border-color: rgba(255, 255, 255, 1);
}

#btn{
    background-color:transparent;
    border-color: rgba(255, 255, 255, .2);
}

#btn:hover{
    background-color: rgb(119, 119, 119, 0.1);
    border-color: rgba(255, 255, 255, 1);
}

.section-header{
    max-width: 671px;
    width: 100%;
    margin: 50px auto;
}

.section-title{
    font-size: 3rem;
    font-weight:900;
}

.section-detail{
    font-size: 0.875rem;
    font-weight:400;
    margin: 14px auto 34px;
}

/* color */
.white{
    color: #FFFFFF;
}

.white-opacity10{
    color: rgb(255, 255, 255, .1);
}

.white-opacity50{
    color: rgb(255, 255, 255, .5);
}

.dark-gray{
    background-color: #222222;
}

.cinnabar{
    color: #E6533C;
}


/* navbar styles */
.navbar{
    max-width: 1110px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background-color: transparent;
}

.logo{
    font-size: 2.25rem;
    font-weight:800;
    font-style: italic;
}

.nav-ul{
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 350px;
    padding: 10px 10px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

#nav-icon{
    width: 24px;
    display: none;
}


/* banner styles */
.banner{
    max-width: 1060px;
    width: 100%;
    margin-top: 96px;
}
.banner-description{
    max-width: 600px;
    width: 95%;
    translate: -0px -110px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}

#shape-word{
    font-family:'Miama', sans-serif;
}

.banner-text{
    margin:28px 0;
    font-size: 1rem;
}
.buttons{
    gap: 10px;
}

.btn-small-device{
    display: none;
}

.banner-img{
    max-width: 300px;
    width: 95%;
}

.banner-hero{
    max-width: 300px;
    width: 100%;
}

.banner-card-text{
    font-size: 0.8125rem;
    
}

.banner-card-1{
    max-width: 125px;
    width: 100%;
    font-size: 0.8125rem;
    translate: 160px -450px;
    padding: 17px 30px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.1);
}

.banner-card-1-heading{
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-card-2{
    max-width: 150px;
    width: 40%;
    font-size: 0.8125rem;
    translate: -160px -240px;
    padding: 17px 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#circle{
    height: 30px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}



/* change your habit styles */
.change-habit{
    margin: 0 auto 50px;
    max-width: 1060px;
    width: 100%;
}
.change-habit .section-header{
    text-align: center;
}
.change-habit-cards{
    gap: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.change-habit-card-img{
    max-width: 272px;
    width: 100%;
    border: 3px solid #222222;;
    border-radius: 50%;
    margin: 50px auto 30px;
}
.change-habit-card-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.change-habit-card-detail{
    font-size: 0.875rem;
    font-weight: 400;
}

/* run extra mile styles */
.run-extra-mile{
    max-width: 1060px;
    width: 100%;
    background-color: #222222; 
    border-radius: 18px;
    padding: 30px 30px;

}
.img-run{
    max-width: 350px;
    width: 100%;
    border-radius: 18px;
}

/* BMI calculator section styles */
.bmi-bg{
    background-color: #222222;
    max-width: 100vw;
    width: 100%;
}

.bmi-details{
    gap: 0px;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    width: 100%;
    padding: 50px 0px;
}

/* BMI chart styles */
.bmi-chart{
    max-width: 50%;
    text-align: left;
}

.chart-heading{
    font-size: 1.75rem;
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
    translate: 100px 0px;
}

.chart-container{
    margin-top: 50px;
}
.chart{
    max-width: 310px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid rgb(255, 255, 255, .05);
    padding: 15px 15px;
    text-align: left;
}
th{
    font-size: 1rem;
    font-weight: 500;
}
td{
    font-size: 0.875rem;
    font-weight: 400;
}

/* BMI calculator styles */
#calculate-bmi{
    translate: 0 0;
}
.calculate-bmi-details{
    color: rgb(255, 255, 255, .5);
    margin-bottom: 30px;
 }
 
.bmi-calculator-form{
    margin: 0 20px;
    max-width: 50%;
}

.bmi-calculator-form input, 
.bmi-calculator-form select {
    background-color: rgb(255, 255, 255, .1);
    color: rgb(255, 255, 255, .6);
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1em;
}

.input-row {
    display: flex;
    gap: 15px;
}

.input-row input, .input-row select {
    flex: 1;
}
.input-full select {
    width: 100%;
    margin-bottom: 15px;
}

.bmi-calculator-form .btn-primary{
    margin-top:20px;
    margin-left: 10px;
}

.bmi-calculator-form form {
    display: flex;
    flex-direction: column;
}


/* Responsive for small devices */
@media screen and (max-width:576px) {
    /* shared styles */
    *{
        width: 98%;
    }
    header, #banner-bg{
        max-height: 167vh;
    }
    .section-title{
        font-size: 2.25rem;
    }
    .section-detail {
        font-size: 0.875rem;
    }

    /* nav item styles */
    .nav-ul{
        display: none;
    }

    #nav-icon{
        display: block;
    }

    /* banner item styles */
    .banner{
        flex-direction: column;
    }

    .banner-title{
        font-size: 2.75rem;
    }
    .banner-description{
        translate: -7px -50px;
    }
    .buttons{
        max-width: 240px;
        width: 100%;
        translate: -42px 0;
    }
    .btn-primary{
        width: 150px;
        width: 80%;
        font-size: 0.75rem;
        padding: 8px 10px;
    }
    .btn-small-device{
        display: block;
        font-size: 0.75rem;
        max-width: 150px;
        width: 80%;
        padding: 8px 10px;
    }
    .btn-large-device{
        display: none;
    }
    
    .banner-card-1-heading{
        font-size: 1.5rem;
    }
    .banner-card-1{
        width: 40%;
        padding: 10px 10px;
        translate: 90px -430px;
    }
    .banner-card-2{
        translate: -90px -280px;
        width: 40%;
        padding: 10px 10px;
        gap: 5px;
    }
    .banner-card-text{
        font-size: 0.70rem;
    }
    #circle{
        height: 20px;
        width: 25px;
        border-radius: 100%;
    }

    /* change your habit section styles*/
    .change-habit-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .change-habit-card-img{
        width: 70%;
    }

    /* run extra mile */
    .run-extra-mile {
        flex-direction: column;
        gap: 40px;
        width: 80%;
    }
    .img-run{
        width: 100%;
    }
    .btn-primary{
        max-width: 350px;
        width: 100%;
        font-size: 1.125rem;
    }

    /* BMI Calculator */
    .bmi-details{
        flex-direction: column;
    }
    .chart-heading{
        font-size: 1.5rem;
        translate: 5px 0;
    }
    .bmi-chart{
        max-width: 100%;
        margin: 0 auto;
    }
    .chart-container{
        margin-top:20px;
        translate: -15px 0px;
    }

    /* bmi calculator styles */
    #calculate-bmi{
        translate: 5px 0;
        margin-top: 30px;
        padding-left: 5px;
    }
    .calculate-bmi-details{
        padding-left:10px;
        margin-bottom: 20px;
    }

    .bmi-calculator-form{
        max-width: 95%;
        margin: 0;
    }

    .bmi-calculator-form .btn-primary{
        width: 98%;
        max-width: 350px;
        font-size: 1rem;
    }
}





















@media screen and (min-width: 576px) and (max-width: 768px) {
   /* shared styles */
   header, #banner-bg{
    max-height: 165vh;
}
    .section-title{
        font-size: 2.5rem;
    }
    .section-detail {
        font-size: 0.9rem;
    }

    /* banner item styles */
    .banner{
        flex-direction: column;
    }
    .banner-title{
        margin-top: 20px;
        font-size: 3.75rem;
    }
    .banner-description {
        translate: -30px -70px;
    }
    .banner-card-1-heading{
        font-size: 2rem;
    }
    .banner-card-1{
        width: 43%;
        padding: 15px 15px;
        translate: 100px -450px;
    }
    .banner-card-2{
        width: 43%;
        padding: 15px 15px;
        translate: -100px -280px;
    }
    .banner-card-text{
        font-size: 0.82rem;
    }

    /* change your habit section styles*/
    .change-habit-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .change-habit-card-img{
        width: 75%;
    }

    /* run extra mile */
    .run-extra-mile {
        gap: 30px;
        width: 90%;
    }
    .img-run{
        width: 40%;
    }

    /* BMI Calculator */
    .bmi-details{
        flex-direction: column;
    }
    .chart-heading{
        font-size: 1.5rem;
        translate: 5px 0;
    }
    .bmi-chart{
        max-width: 100%;
        margin: 0 auto;
    }
    .chart-container{
        margin-top:20px;
        translate: -15px 0px;
    }


    #calculate-bmi{
        translate: 5px 0;
        margin-top: 30px;
        padding-left: 5px;
    }
    .calculate-bmi-details{
        padding-left:10px;
        margin-bottom: 20px;
    }

    .bmi-calculator-form{
        max-width: 95%;
        margin: 0;
    }

    .bmi-calculator-form .btn-primary{
        width: 100%;
        max-width: 220px;
        padding: 15px;
        font-size: 1rem;
    }
}


/* Responsive for 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Adjust styles for this range */
    .section-title{
        font-size: 2.75rem;
    }

    .section-detail {
        font-size: 1rem;
    }
    .banner-description {
        translate: 0px -90px;
    }

    .banner-title{
        font-size: 3.75rem;
    }
    .banner-text{
        margin:28px 10px;
        font-size: 1rem;
        width: 75%;
    }
    .buttons{
        gap: 10px;
        translate: -65px 0;
        width: 70%;
    }
    .banner-hero{
        width: 85%;
    }
    
    .banner-card-1-heading{
        font-size: 1.75rem;
    }
    .banner-card-text{
        font-size: 0.75rem;
        
    }
    .banner-card-1{
        padding: 10px 10px;
        width: 70%;
        translate: 70px -370px;
    }

    .banner-card-2{
        translate: -140px -270px;
    }

    .chart-heading{
        font-size: 1.75rem;
        font-weight: 900;
        text-align: left;
        margin: 0;
        margin-bottom: 15px;
        translate: 10px 0px;
    }
    .run-extra-mile{
        width: 92%;
    }
}

